@model IsisTravelCore.Models.Domains.Hotel

@{
    ViewBag.Title = IsisTravelCore.Resources.Hotel.EditHotel;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
            </div>
            <form asp-action="Edit" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.Active" />
                    <input type="hidden" asp-for="@Model.CreatedDate" />
                    <input type="hidden" asp-for="@Model.CreatorId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group m-form__group row">
                        <label asp-for="Name" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="Name" class="form-control m-input" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <label asp-for="HotelMainImage" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <img id="image" src="@Url.Content("~/uploads/"+Model.Country.Name+"/Hotels/"+Model.HotelMainImage)" width="200" />
                            <input type="file" name="file" id="file" class="form-control m-input " />
                            <input type="hidden" asp-for="HotelMainImage" />
                            <span asp-validation-for="HotelMainImage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label asp-for="CountryId" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <select asp-for="CountryId" class="form-control select2" asp-items="ViewBag.CountryId"></select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                        <label asp-for="CategoryId" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <select asp-for="CategoryId" class="form-control select2" asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label asp-for="Phone" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="Phone" class="form-control m-input" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <label asp-for="ExtelnalLink" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="ExtelnalLink" class="form-control m-input" />
                            <span asp-validation-for="ExtelnalLink" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label asp-for="Address" class="col-form-label col-md-2"></label>
                        <div class="col-md-8">
                            <textarea asp-for="Address" class="form-control m-input summernote"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label asp-for="Description" class="col-form-label col-md-2"></label>
                        <div class="col-md-8">
                            <textarea asp-for="Description" class="form-control m-input summernote"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                      
                    </div>
                    <div class="form-group m-form__group row">
                        <label asp-for="FacebookLink" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="FacebookLink" class="form-control m-input" />
                            <span asp-validation-for="FacebookLink" class="text-danger"></span>
                        </div>
                        <label asp-for="TwitterLink" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="TwitterLink" class="form-control m-input" />
                            <span asp-validation-for="TwitterLink" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label asp-for="Lat" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="Lat" class="form-control m-input" />
                            <span asp-validation-for="Lat" class="text-danger"></span>
                        </div>
                        <label asp-for="Lang" class="col-form-label col-md-2"></label>
                        <div class="col-md-3">
                            <input asp-for="Lang" class="form-control m-input" />
                            <span asp-validation-for="Lang" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="submit" value="@IsisTravelCore.Resources.Genral.Save" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-secondary">
                                    @IsisTravelCore.Resources.Genral.Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#file").on('change', function () {
            readURL(this);
            $("#HotalMainImage").val($("#file").val());
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
